<html ng-app="app">

<head>
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
	<!-- endbower -->

	<!-- inject:css -->
	<!-- endinject -->
</head>

<body ng-controller="WeatherController as weatherCtrl">
	<div class="container">
		<div class="style jumbotron">
			<h1>Origin Weather Application</h1>
			<br>
			<div>
				<h4>Always know if you will need an Umbrella!</h4>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="horizontal-row">
			<div class="col-sm-6-pull-left">
				<button type="button" class="btn btn-info" ng-click="weatherCtrl.search('San Diego')">San Diego</button>
				<button type="button" class="btn btn-info" ng-click="weatherCtrl.search('New York')">New York</button>
				<button type="button" class="btn btn-info" ng-click="weatherCtrl.search('Washington D.C.')">Washington D.C.</button>
				<button type="button" class="btn btn-info" ng-click="weatherCtrl.search('London')">London</button>
				<button type="button" class="btn btn-info" ng-click="weatherCtrl.search('Tokyo')">Tokyo</button>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search for..." ng-model="weatherCtrl.cityNames">
					<span class="input-group-btn">
	         <button class="btn btn-default" type="button" ng-click="weatherCtrl.search(weatherCtrl.cityNames)">Go!</button>
	       </span>
				</div>
				<!-- /input-group -->
			</div>
		</div>
	</div>
	<br>
	<div class="container">
		<!-- <pre>{{weatherCtrl.weatherData || json}}</pre> -->
		<div class="row">
			<div class="col-sm-6">
				<div class="panel panel-info">
					<div class="panel-heading">City Information</div>
					<div class="panel-body">
						<center>
							<h2>
                  <img ng-src="http://openweathermap.org/img/w/{{weatherCtrl.weatherData.weather[0].icon}}.png" /> {{weatherCtrl.weatherData.name}}
								</h2>
							<div>
								<h5> Lat/Long:{{weatherCtrl.weatherData.coord.lat}}, {{weatherCtrl.weatherData.coord.lon}}</h5>
							</div>
						</center>
					</div>
					<div>
						<table class="table">
							<tbody>
								<tr>
									<th>Temperature (F)</th>
									<th>Pressure</th>
									<th>Humidity</th>
								</tr>
								<tr>
									<td>
										{{weatherCtrl.weatherData.main.temp}} F°
									</td>
									<td>
										{{weatherCtrl.weatherData.main.pressure}}
									</td>
									<td>
										{{weatherCtrl.weatherData.main.humidity}} %
									</td>
								</tr>
							</tbody>
							<tfooter>
								<tr>
									<th>Lowest Temp (F)</th>
									<th>Highest Temp (F)</th>
									<th>Wind Speed</th>
								</tr>
								<tr>
									<td>{{weatherCtrl.weatherData.main.temp_min}} F°</td>
									<td>{{weatherCtrl.weatherData.main.temp_max}} F°</td>
									<td>{{weatherCtrl.weatherData.wind.speed}} mph</td>
								</tr>
							</tfooter>
						</table>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="panel panel-info">
					<div class="panel-heading">Search History</div>
					<div class="panel-body">
						<table class="table">
							<thead>
								<tr>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="search in weatherCtrl.searches">
									<td>
										{{search.cityName}}
									</td>
									<td>
										{{search.timestamp | date}}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- bower:js -->
			<script src="bower_components/angular/angular.js"></script>
			<script src="bower_components/jquery/dist/jquery.js"></script>
			<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
			<script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
			<!-- endbower -->

			<!-- inject:js -->
			<script src="app/app.module.js"></script>
			<script src="app/app.controller.js"></script>
			<script src="app/app.factory.js"></script>
			<!-- endinject -->
</body>

</html>
